<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="../resources/views/swagger-ui.css" >
    <style>
      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }

      body
      {
        margin:0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div id="swagger-ui"></div>
		<script src="https://www.google.com/recaptcha/api.js?render=6LehX2caAAAAAKKV2_vQTCGkh4-y4LHTjkTEfAQC"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.44.0/swagger-ui-bundle.js" charset="UTF-8"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.44.0/swagger-ui-standalone-preset.js" charset="UTF-8"> </script>
    <script>

		async function getToken() {
		 var b = await grecaptcha.execute('6LehX2caAAAAAKKV2_vQTCGkh4-y4LHTjkTEfAQC')
				.then(token => {
					return token;
				});
		 return b;
		}
    window.onload = async function() {
			console.warn("test ",await getToken());
			window.Kek = await getToken()
			//alert(Kek)
			console.log(Kek)
      // Begin Swagger UI call region
      const ui = await SwaggerUIBundle({
        url: "../resources/views/openapi.json",
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout"
      })
      // End Swagger UI call region

      window.ui = ui

			setTimeout(pageFullyLoaded, 1000);

    }

	//	window.addEventListener("load", pageFullyLoaded, false);
	//	window.loler.value = "re"
		function pageFullyLoaded(e) {
			document.querySelector(".btn").onclick = function(){
				setTimeout(putValueAfterClick, 1000);
			}
		}
		function putValueAfterClick(){

			document.querySelector('input[placeholder="token"]').setAttribute("value", Kek);
			document.querySelector('input[placeholder="token"]').value = Kek;

		}
		</script>
  </body>
</html>
