<!doctype html>
<html lang="en">
  <head>
    <title>Gemeinde Online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href="../resources/libs/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../resources/assets/css/style.css" rel="stylesheet">
  </head>
  <body>

  <header>

    <div class="parallax position-relative">
      <div class="position-absolute bottom-0 end-0 mb-5 me-5 p-4 signupform">
        <h2 class="mb-0">Entdecken Sie Dienstleistungen in Ihrer Gemeinde</h2>
        <div class="mb-2">und verbinden Sie sich mit Nachbarn, regionale Unternehmen und Verwaltung in einer Minute</div>
          <form class="d-flex">
            <div class="input-group">
              <input class="form-control" type="search" placeholder="Ihre PLZ" aria-label="Search">
              <button class="btn btn-primary" type="submit"><svg class="" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M19 17l-5.15-5.15a7 7 0 1 0-2 2L17 19zM3.5 8A4.5 4.5 0 1 1 8 12.5 4.5 4.5 0 0 1 3.5 8z"/></svg></button>
            </div>
          </form>
      </div>
    </div>

    <nav class="navbar navbar-dark fixed-top bg-dark px-5">
        <a class="navbar-brand me-md-auto" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <path d="m0 0h32v32h-32z" fill="#da291c"/>
            <path d="m13 6h6v7h7v6h-7v7h-6v-7h-7v-6h7z" fill="#fff"/>
          </svg>
          <span class="h5 ms-1">Gemeinde Online</span>
        </a>
        <a class="me-4" href="#">Login</a>
        <a class="btn btn-primary" href="#">Anmelden</a>
    </nav>

  </header>

  <main>

    <div class="container my-5">

      <div class="row text-center">
        <div class="col-lg-4">
          <h2>Trusted</h2>
          <span class="megaicon megaicon-trusted"></span>
          <p class="mt-2">Get notified about official information and important event notifications sent by local authorities or government agencies.</p>
        </div>

        <div class="col-lg-4">
          <h2>Relevant</h2>
          <span class="megaicon megaicon-relevant"></span>
          <p class="mt-2">Receive only approved content from your neighbors, alerts from your service providers and offers from local businesses you opted for.</p>
        </div>

        <div class="col-lg-4">
          <h2>Personal</h2>
          <span class="megaicon megaicon-personal"></span>
          <p class="mt-2">Choose between instant delivery or scheduled digest to your favorite messenger, e-mail, smart device, or SMS.</p>
        </div>
      </div>
    </div>

    <hr class="separator">

    <div class="container-fluid my-5 ">
    	<div class="text-center">
    		  <h2>Es gibt schon 100 Gemeinden online.</h2>
          <h4>Finden Sie Ihre Gemeinde und verbinden Sie sich mit Nachbarn und verfügbaren Dienstleistungen.</h4>
    	</div>
    	<div>
    		  <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="100%" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Map placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="45%" y="45%" fill="#aaa">Map placeholder</text></svg>
    	</div>
    </div>

    <div class="container-fluid my-5 ">
    	<div class="text-center">
    		  <h2>Machen Sie mit und verpassen Sie nie etwas Wichtiges in Ihrer Nachbarschaft </h2>
          <a class="btn btn-primary" href="#">Jetzt registrieren</a>
    	</div>
    </div>

  </main>

  <footer class="container-fluid bg-dark text-light mt-5 p-5">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-unstyled">
        	<li><a href="#">Über uns</a></li>
        	<li><a href="#">Wie funktioniert</a></li>
        	<li><a href="#">Für lokale Unternehmen</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><a href="#">Impressum</a></li>
          <li><a href="#">Datenschutzerklärung</a></li>
          <li><a href="#">Nutzungsbedingungen</a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <div class="text-muted">Designed and managed by your neighbors in 🇨🇭Switzerland: <a class="fst-italic" href="https://bergdigital.ch">Berg Digital</a>.<br />Built by skilled developers in 🇪🇪 Estonia: <a class="fst-italic" href="https://bits.ee">Baltic IT Solutions OÜ</a>.</div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
      	<hr>
      	<div class="float-start">💁‍♀️ <a href="#">Spenden Sie</a>, um die weitere Entwicklung zu unterstützen und diesen Service kostenlos anbieten.</div>
      	<div class="float-end text-muted">&copy; 2021</div>
      </div>
    </div>
  </footer>
  </body>
</html>
