<!DOCTYPE html>
<html lang="de">
<head>
	<title>Gemeinde Online</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/tom-select@1.1/dist/css/tom-select.css" rel="stylesheet">
	<link href="../resources/assets/css/style.css" rel="stylesheet">
</head>

<body>
	<div id="vueapp">

		<header>
			<navbar-component></navbar-component>
			<div class="parallax"></div>
		</header>

		<main>
			<div class="container my-5">
				<megaicons-component></megaicons-component>
			</div>

			<hr class="separator">

			<div class="container-fluid my-5">
				<locator-component></locator-component>
			</div>

			<hr class="separator">

			<div class="container-fluid my-5">
				<bottomline-component></bottomline-component>
			</div>
		</main>

		<footer-component></footer-component>
	</div> <!-- end of vuejs app -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/tom-select@1.1/dist/js/tom-select.base.min.js"></script>
	<script src="https://unpkg.com/lodash@4.17.21/lodash.min.js"></script>
	<script src="https://unpkg.com/vue-i18n@next"></script>
	<script src="../resources/assets/js/modernizr.js"></script>
	<script src="../resources/assets/js/sfc-loader.js"></script>
	<script src="../resources/assets/js/axios-defaults.js"></script>
	<script src="../resources/assets/js/i18n.js"></script>
  <script>
    const va = Vue.createApp({
      components: {
        'locator-component': Vue.defineAsyncComponent(() => loadModule('../resources/components/locator.vue', options)),
        'navbar-component': Vue.defineAsyncComponent(() => loadModule('../resources/components/navbar.vue', options)),
        'megaicons-component': Vue.defineAsyncComponent(() => loadModule('../resources/components/megaicons.vue', options)),
        'bottomline-component': Vue.defineAsyncComponent(() => loadModule('../resources/components/bottomline.vue', options)),
        'footer-component': Vue.defineAsyncComponent(() => loadModule('../resources/components/footer.vue', options)),
      },
	  setup() {
		const { t } = VueI18n.useI18n() // call `useI18n`, and spread `t` from  `useI18n` returning
		return { t } // return render context that included `t`
	  }
    })
	va.use(i18n) //look for the 'i18n' in scf-loader.js
    va.mount('#vueapp');
  </script>
</body>
</html>
