<!DOCTYPE html>
<html lang="de">
<head>
	<title>Gemeinde Online</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <link href="../resources/assets/css/style.css" rel="stylesheet">
</head>

<body>
	<div id="vueapp" class="container d-flex">
      <profile-avatar></profile-avatar>
      <profile-details></profile-details>
	</div> <!-- end of vuejs app -->

	
	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script>
  /* boilerplate for vue3-sfc-loader */
  const options = {
    moduleCache: {
      vue: Vue,
    },

    getFile(url) {
      return fetch(url).then(response => response.ok ? response.text() : Promise.reject(response));
    },

    addStyle(styleStr) {
      const style = document.createElement('style');
      style.textContent = styleStr;
      const ref = document.head.getElementsByTagName('style')[0] || null;
      document.head.insertBefore(style, ref);
    },

    log(type, ...args) {
      console.log(type, ...args);
    }
  }

  const { loadModule, version } = window["vue3-sfc-loader"];
  /* end of boilerplate for vue3-sfc-loader */


  axios.defaults.baseURL = '/api';
  axios.defaults.headers.common.Authorization = 'Bearer '+sessionStorage.getItem('sessionKey')
  
  axios.interceptors.response.use(response => {
    return response;
  }, error => {
    if (error.response.status === 401) {
      window.location.href = "./signup";
    }
    return error;
  });

  const va = Vue.createApp({
    components: {
      'profile-details': Vue.defineAsyncComponent(() => loadModule('../resources/components/personalDetails.vue', options)),
      'profile-avatar': Vue.defineAsyncComponent(() => loadModule('../resources/components/avatar.vue', options))
    }
  });
  va.mount('#vueapp');
</script>

</body>
</html>
