<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gemeinde Online | Sign-up</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<link href="../../../resources/libs/bootstrap/bootstrap.css" rel="stylesheet">
	<link href="../../../resources/assets/css/style.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	<script src="https://www.google.com/recaptcha/api.js?render=6LehX2caAAAAAKKV2_vQTCGkh4-y4LHTjkTEfAQC"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>
	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
	<div id="vueapp" class="container">
		<email-login></email-login>
		<tg-login v-bind:tgBotName="alex_gena_test_bot"></tg-login>
	</div>


<script>
	/* boilerplate for vue3-sfc-loader */
	const options = {
    moduleCache: {
      vue: Vue,
    },

    getFile(url) {
      return fetch(url).then(response => response.ok ? response.text() : Promise.reject(response));
    },

    addStyle(styleStr) {
      const style = document.createElement('style');
      style.textContent = styleStr;
      const ref = document.head.getElementsByTagName('style')[0] || null;
      document.head.insertBefore(style, ref);
    },

    log(type, ...args) {
      console.log(type, ...args);
    }
  }

  const { loadModule, version } = window["vue3-sfc-loader"];
  /* end of boilerplate for vue3-sfc-loader */

  axios.defaults.baseURL = '/api';
  const va = Vue.createApp({
	data(){
		return {
			googleRecaptchaSiteKey : "6LehX2caAAAAAEL3F-LR8H8bdaqX9_1uKTdopO9U",
			googleMapKey : "AIzaSyAa5JmzQorWkWwPn7TBzfcWJiyuYHjawPo",
			tgBotName : "alex_gena_test_bot",
		}
	},
    components: {
      'tg-login': Vue.defineAsyncComponent(() => loadModule('../../resources/components/tgLogin.vue', options)),
	  'email-login': Vue.defineAsyncComponent(() => loadModule('../../resources/components/emailLogin.vue', options))
    }
  });
  va.mount('#vueapp');
</script>
</body>
</html>
